In [3]:
import pandas as pd
import numpy as np
import string
from itertools import product
from random import randint, seed
from datetime import datetime

In [6]:
# 適当な日付データを生成
dates = pd.date_range(start='2010-01-01', end='2021-12-31', freq='D')
# A to Z
groups = [i for i in string.ascii_uppercase]

Wall time: 0 ns

In [7]:
%%time
# 約5000万行のデータを作る
df = pd.DataFrame(list(product(dates, groups)) * 440, columns=['dt','group_label'])

Wall time: 12.8 s

In [8]:
%%time
# ランダムな整数を生成し、DataFrameへ新しい列として加える
seed(46)
df['value'] = [randint(0, 10000) for i in range(len(df))]

Wall time: 1min 4s

In [9]:
%%time
# group_label毎に平均と分散
df.groupby(['group_label'])['value'].agg({'mean','std'})

Wall time: 3.16 s

                     std         mean
group_label
A            2886.981287  4999.168976
B            2887.690758  4998.889735
C            2887.645944  5001.465989
D            2886.405559  4999.150671
E            2886.553834  5001.180661
F            2886.705121  5000.462623
G            2886.584757  4998.862317
H            2887.212717  4996.114136
I            2888.212986  4999.111629
J            2887.993224  5001.975877
K            2886.090859  5001.094906
L            2887.494517  5000.590028
M            2888.003709  5001.779763
N            2888.001838  4999.590927
O            2887.146670  5001.003167
P            2889.735766  4998.500103
Q            2886.416079  4999.716444
R            2887.608055  5000.501824
S            2887.708336  5001.128750
T            2885.939092  4993.648985
U            2887.349561  5000.312846
V            2887.547549  4997.187886
W            2886.972890  5000.394495
X            2887.000867  4999.626231
Y            2887.473476  5000.576666
Z            2886.854747  5004.458498

In [12]:
%%time
# 現在時刻の列を挿入
df['now'] = datetime.now()

Wall time: 995 ms

In [13]:
%%time
# 日数差の列を挿入
df['diff_dt'] = (df['now'] - df['dt']).apply(lambda x : x.days)

Wall time: 6min 35s